@model Org.Ktu.Isk.P175B602.Autonuoma.ViewModels.AppointmentEditVM

@{
	ViewData["title"] = "Vizito sukūrimas";
}

<div class="main-content-header container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title">@ViewData["title"]</span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>

<div class="container-fluid d-flex justify-content-center">
@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })

	<fieldset class="border rounded shadow p-2">
		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.AppointmentReason, "Vizito priežastis", new { @class = "control-label" })
			@Html.EditorFor(m => m.Appointment.AppointmentReason, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Appointment.AppointmentReason, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.AppointmentDate, "Vizito data", new { @class = "control-label" })
			@Html.TextBoxFor(m => m.Appointment.AppointmentDate, "{0:yyyy-MM-dd}", new { @class = "form-control date-picker"})
			@Html.ValidationMessageFor(m => m.Appointment.AppointmentDate, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.AppointmentStatus, "Statusas", new { @class = "control-label" })
			@Html.EditorFor(m => m.Appointment.AppointmentStatus, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Appointment.AppointmentStatus, "", new { @class = "text-danger" })
		</div>


		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.AppointmentDuration, "Susitikimo trukmė", new { @class = "control-label" })
			@Html.EditorFor(m => m.Appointment.AppointmentDuration, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(m => m.Appointment.AppointmentDuration, "", new { @class = "text-danger" })
		</div>


		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.FKPatientId, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Appointment.FKPatientId, Model.Lists.PatientId, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appointment.FKPatientId, "", new { @class = "text-danger" })
		</div>

		<div class="form-group">
			@Html.LabelFor(m => m.Appointment.FKDoctorId, new { @class = "control-label" })
			@Html.DropDownListFor(m => m.Appointment.FKDoctorId, Model.Lists.DoctorId, "--------------", new { @class = "form-control" })
			@Html.ValidationMessageFor(m => m.Appointment.FKDoctorId, "", new { @class = "text-danger" })
		</div>
	</fieldset>

	<div class="container-fluid d-flex d-row justify-content-end">
		<button name="save" value="1" class="btn btn-success"><i class="fa-solid fa-floppy-disk"></i> Išsaugoti</button>
	</div>
}
</div>

<div class="main-content-footer container-fluid d-flex d-row justify-content-between align-items-center">
	<span class="title"></span>
	<span class="actions">
		<a href="@Url.Action("Index")" class="link-primary"><i class="fa-solid fa-angles-left"></i> Atgal į sarašą</a>
	</span>
</div>